*~
.*.sw[p-z]
__pycache__/
*\#
.\#*
*.autosave
*.ini
*.p12
.DS_Store
*.pyc
pgdump*
pg_dump*
*.ini*
sql/roles.sql
*zip
.DS_Store
**/.DS_Store
*csv
Qualtrics/
*dist/
*build/
*spec

.coverage
.QA

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode
.idea

