# MacOS junk
.DS_Store
**/.DS_Store

# config/secrets
*.ini
*.p12
pgdump*
pg_dump*
*.ini*
sql/roles.sql
*xls
*xlsx

# assets
*zip
*csv
Qualtrics/

# packaging
*dist/
*build/
*spec

# testing
.coverage
.QA

# Environments
*.pyc
__pycache__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs/editors
*\#
.\#*
.vscode
.idea
*~
.*.sw[p-z]
*.autosave
