[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = ">=3.3.2"
"pyqt5" = "*"
pyesql = "*"
"psycopg2" = "2.9.2"
"LNCDcal" = {git = "https://github.com/LabNeuroCogDevel/LNCDcal.py"}
pyopenssl = "*"
sqlalchemy = ">=1.4.27"
simplejson = "*"
pandas = "*"
pyqt5-sip = "*"

[dev-packages]
black = "*"
pytest = "*"
qtbot = "*"
pytest-pgsql = "*"
pytest-qt = "*"

[requires]
python_version = "3.10"
